/* styles */
footer {
  background-color: black;
  height: 50px;
  color: white;
  width: 100%;
  bottom: 0;
}

footer a {
  text-decoration: none;
  color: white;
}

#awesome-nav {
  background-color: black;
}

#awesome-nav a:hover {
  color: blue;
}

.contact-image {
  height: inherit;
}
